@* ! Brand demo (display only for navbar-full and hide on below xl) *@
@if (ViewData["navbarFull"] != null)
{
<div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
  <a asp-page="/Index" class="app-brand-link gap-2">
      <span class="app-brand-logo demo">
        @await Html.PartialAsync("_Partials/_Macros")
      </span>
      <span class="app-brand-text demo menu-text fw-bold text-heading">@TempData.Peek("appName")</span>
    </a>

    @* ! Display menu close icon only for horizontal-menu with navbar-full *@
    @if (Convert.ToBoolean(@TempData.Peek("menuHorizontal")).ToString() == "True")
    {
      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
        <i class="icon-base bx bx-chevron-left d-flex align-items-center justify-content-center"></i>
      </a>
    }
  </div>
}

<div class="navbar-nav-right d-flex align-items-center justify-content-end" id="navbar-collapse">
  @* ! Sidebar Toggle Button *@
  @if (ViewData["navbarHideToggle"] == null)
  {
    <div class="layout-menu-toggle navbar-nav align-items-center me-3">
      <a class="nav-link px-2" href="javascript:void(0)" title="Toggle Sidebar" style="cursor: pointer; display: inline-flex; align-items: center;">
        <i class="icon-base bx bx-menu" style="font-size: 1.75rem;"></i>
      </a>
    </div>
  }

  <!-- Search -->
    <div class="navbar-nav align-items-center me-auto">
      <div class="nav-item d-flex align-items-center">
        <span class="w-px-22 h-px-22"><i class="icon-base bx bx-search icon-md"></i></span>
        <input type="text" class="form-control border-0 shadow-none ps-1 ps-sm-2 d-md-block d-none" placeholder="Search..." aria-label="Search..." />
      </div>
    </div>
  <!-- /Search -->



  <ul class="navbar-nav flex-row align-items-center ms-md-auto">
    <!-- Place this tag where you want the button to render. -->
    <li class="nav-item lh-1 me-4">
    </li>

    <!-- User -->
    <li class="nav-item navbar-dropdown dropdown-user dropdown">
      <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
        <div class="avatar avatar-online">
          <img src="~/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
        </div>
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <a class="dropdown-item" href="javascript:void(0);">
            <div class="d-flex">
              <div class="flex-shrink-0 me-3">
                <div class="avatar avatar-online">
                  <img src="~/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                </div>
              </div>
              <div class="flex-grow-1">
                <h6 class="mb-0">@User.Identity?.Name</h6>
                <small class="text-body-secondary">@(User.IsInRole("Admin") ? "Admin" : "Staff")</small>
              </div>
            </div>
          </a>
        </li>
        <li>
          <div class="dropdown-divider my-1"></div>
        </li>
        <li>
          <form method="post" asp-page="/Auth/Logout" class="form-inline m-0 p-0">
            <button type="submit" class="dropdown-item">
              <i class="icon-base bx bx-power-off icon-md me-3"></i><span>Log Out</span>
            </button>
          </form>
        </li>
      </ul>
    </li>
    <!--/ User -->

  </ul>
</div>

