################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BookingTicketCinema/v17
/BookingTicketCinema/.vs/BookingTicketCinema/FileContentIndex
/.vs
/BookingTicketCinema/.vs/ProjectEvaluation
/BookingTicketCinema/BookingTicketCinema/bin/Debug/net8.0
/BookingTicketCinema/BookingTicketCinemaClient/.vscode
/BookingTicketCinema/BookingTicketCinemaClient/bin/Debug/net8.0
/BookingTicketCinema/BookingTicketCinemaClient/obj
/BookingTicketCinema/BookingTicketCinema.Client/obj/Debug/net8.0
/BookingTicketCinema/BookingTicketCinema.ManagementApp/obj/Debug/net8.0
/BookingTicketCinema/BookingTicketCinema/obj
