@page
@model BookingTicketCinema.ManagementApp.Pages.Auth.LoginModel
@{
    ViewData["Title"] = "Đăng nhập Trang Quản lý";
    Layout = "_BlankLayout";
}

<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Layout page -->
    <div class="layout-page">
      <!-- Content wrapper -->
      <div class="content-wrapper">
        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="row justify-content-center">
            <div class="col-md-5 mt-5">
              <div class="card shadow-lg border-0">
                <div class="card-header bg-dark text-white">
                  <h3 class="text-center font-weight-light my-3">@ViewData["Title"]</h3>
                </div>
                <div class="card-body p-4">
                  <form id="account" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                    <div class="form-floating mb-3">
                      <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                      <label asp-for="Input.Email">Email</label>
                      <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                      <input asp-for="Input.Password" class="form-control" type="password" autocomplete="current-password" aria-required="true" placeholder="Password" />
                      <label asp-for="Input.Password">Mật khẩu</label>
                      <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="mt-4 mb-0">
                      <button id="login-submit" type="submit" class="btn btn-primary w-100 btn-lg">Đăng nhập</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / Content -->
      </div>
      <!--/ Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}